apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  labels:
    app: node-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          image: 274127640471.dkr.ecr.us-east-1.amazonaws.com/node-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080